# Dépendances
node_modules/

# Build
dist/
dist-ssr/
*.local

# Cache
.vite/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Éditeurs / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Variables d'environnement
.env
.env.*
!.env.example
